@charset "utf-8";

@media screen and (min-width:320px) and (max-width:1024px){

    .header{
        position: relative;
        height:70px;
    }
    header > h1{
        z-index:50;
    }
    .inner_nav{
        position:static;
        width:100%;
    }
    #toggle{
        display:inline-block;
        position:absolute;
        right:15px; bottom:21%;
        z-index:2000;
        width:30px;height:30px;
    }
    #toggle > span{
        background-color:#333;
        width:24px;height:.2rem;
        display:inline-block;
    }
    .t_act01{
        background-color:#fefefe !important;
        transform:rotate(45deg);
        position:absolute;top:26px;
    }
    .t_act02{display:none !important;}
    .t_act03{
        background-color:#fefefe !important;
        transform:rotate(-45deg);
        position:absolute; top:26px;
    }

    .gnb{
        width:100%;
        height:100%;
        padding:150px 4% 0px 4%;
        box-sizing:border-box;
        background-color:rgba(0, 0, 0, 0.9);
        position:fixed;
        top:0px;right:-100%;
        z-index:1500 !important;
        transition:.4s;
    }
    .gnb > ul{
        padding-top:80px;
        flex-direction:column;
    }
    .gnb > ul > li{
        border-bottom:1px solid rgb(49, 49, 49);
    }
    .gnb > ul > li > a{
        color:#fff;
        text-align:left;
        text-indent:10%;
    }

    
    .act{right:0%;}

    /* 슬라이드 */
    .slideWrap{
        height:50%;
    }


    /* 탭 콘텐츠 */
    .g_list{
        flex-wrap:wrap;
        width:100%;
    }








    
}