@charset "utf-8";

*{margin:0px; padding:0px;}
ul, ol, li{list-style:none;}
a{text-decoration:none; color:#333333;}
body{
    font-family:"맑은 고딕", 'arial', 'snas-serif';
    font-size:12px;
    color:#333333;
}

#wrap{width:100%;}

header{background-color:cornsilk;}
.h_inner, .f_inner{
    width:1200px; height:100px;
    background-color:bisque;
    margin:0px auto;
}
.h_inner{
    padding-top:30px;
    box-sizing: border-box;
    position:relative;
}

.h_inner > h1{
    width:200px; height:40px;
    background-color: coral;
    float:left;
}
.gnb{
    width:400px;
    height:40px;
    float:right;
}
.gnb > ul{
    /* display:flex;
    display:grid; */
}
.gnb > ul > li{
    float: left;
    position:relative;
    /* display:inline-block; */
    /* display:inline; */

}
.gnb > ul > li > a{
    padding:0px 20px;
    font-size:16px;
    line-height:40px;
    display:block;
    transition: .5s;
}
.gnb > ul > li > a:hover{
    background-color:#737373;
    color:#fff;
}
.sub{
    position:absolute;
    width:100%;
    z-index:1000;
    transition: 0.5s;
    display:none;
}
.sub > li{
    text-align:center;
}
.sub > li > a{
    font-size:14px;
    display:block;
    line-height:40px;
    transition: 0.5s;
    color:#fff;
}
.sub > li > a:hover{
    background-color:#fff;
    color:#333;
}
/* 메인메뉴에 마우스 오버시 서브메뉴 나오게 */
.gnb:hover .sub{
    display:block;
}
/* li:hover는 따로따로 펼쳐짐 */

.gnb:hover::after{
    display:block;
    content:"";
    width:1200px; height:230px;
    position:absolute;
    top:70px;left:0px;
    background-color:#737373;
    z-index:10;
}

main{
    width:1200px; height:500px;
    margin:0px auto;
    background-color:#ccc;
    display:flex;
    flex-wrap:wrap;
}
.slide{
    width:100%; height:300px;
    background-color:#ffff00;
    overflow:hidden;
}
.slide > ul{
    /* width:3600px; */
    width:1200px; height:900px;
    /* 세로방향의 슬라이드는 높이와 가로 크기만 있으면 된다. */
    /* display:flex; */
}
.slide > ul > li{
    width:1200px;
    height:300px;
    position:relative;
}
.slide > ul > li >h3{
    position:absolute;
    background-color: rgba(95, 158, 160, 0.7);
    color:#fff;
    font-size:20px;
    padding:10px 15px;
    border-radius:20px;
    left:50%; top:50%;
    transform:translate(-50%, -50%);

}


.notice, .gallery, .icon{
    width:400px; height:200px;
    background-color:burlywood;;
}

footer{background-color:blanchedalmond;}